.Header {
  margin: 0;
  margin-top: 50px;
  background-color: white;
  display: flex;
}

.purchases {
  margin-top: 25px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 15px;
  height: 90px;
  width: 200px;
  color: white;
  font-size: 17px;
  background-color: #0080b1;
  white-space: nowrap;
  position: relative;
  line-height: 20px;
}

.Header .purchases .purchase {
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
}

.Header .purchase .number {
  margin: 0;
  font-weight: 22px;
  padding: 0;
  font-weight: bold;
}

.Header .purchase .code {
  margin: 0;
  font-weight: bold;
  padding: 0;
}

.container-data {
  margin: 0;
  padding: 15px;
  align-items: center;
  line-height: 10px;
}

.container-data .buyer {
  display: flex;
  padding-left: 15px;
  font-size: 12px;
  flex-grow: 1;
  align-items: center;
}

.buyer-email {
  display: block;
}

.container-data .order {
  display: flex;
  flex-grow: 1;
}

.container-data .order h1 {
  font-size: 24px;
  margin: 0px 0 10px 0;
}